.Main-Campaigns-Dev {
  display: grid;
  justify-content: baseline;
  padding: 20px;
  gap: 20px;
  background-color: rgb(255, 255, 255);
}

.campaigns-dev {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 3px solid red;
  column-gap: 20px;
  padding: 20px;
  background-color: orange;
}