.Main-Situations-Dev {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  height: max-content (+100px);
  background-color: aliceblue;
  border-radius: 3px;
  gap: 1rem;
  padding :2rem;
}

img {
  height: 100%;
  width: 70%;
}

input {
  width: 17rem;
}

button {
  width: 13rem;
}

.FormGroup {
  width: 100%;
  height: 100%;
}

input {
  height: 2rem;
}

.Situations-dev {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative; 
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 2rem;
  border: 0.3rem solid #f82f5087;
  height: 40rem;
  width: 30rem;
  box-shadow: 0 0.5rem 2rem black;
  padding-bottom: 0px;
  grid-auto-rows: min-content;
  background-color: rgba(162, 120, 204, 0.219);
  padding-left: .8rem;
}

.Situations-Pic {
  overflow: hidden;
  position: relative;
  justify-content: center;
  object-fit: fill;
  width: 100%;
  height: 20rem;
  border: 0.5rem solid rgba(162, 120, 204, 0);
}

.Situations-title-Div {
  position:relative;
  overflow: visible;
  font-style: normal;
  font-size: 20px;
  font-weight: bolder;
  font-family: "Courier New", Courier, monospace;
  color: rgb(49, 45, 45);
  text-shadow: 2px 2px #e6d6d6;
  display: flex;
  margin-left: 10px;
  align-items: center
}

.Case-Detailes-Div {
  display: flex;
  flex-direction: column;
  flex-shrink: initial;
}

h3{
  font-size: 20px
}

input {
  padding: .9rem;
}

.description-div{
  margin-left: 5px;
}